.hero__title{
  margin-top: 9.8rem;
  padding-bottom: 9.7rem;
  color: $white-color;
}

.cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
margin-bottom: 8.7rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 8rem;
  background-color: $silver-color;
  margin-top: 20rem;

}
.card__img {
  width: 100%;
  max-width: 122px;
  object-fit: contain;
  margin-top: -10rem;
  margin-bottom: 3rem;
  
}
.shop-btn {
  margin-top: 1.5rem;
  
}
.hero-container{
  margin-top: 16rem;

}
.hero-content{
  display: flex;
  flex-wrap: wrap-reverse;
justify-content: space-between;
  align-items: center;
  // gap: 12.5rem;

  h2{
    width: 100%;
    max-width: 445px;
    margin-bottom: 3.2rem;
  }
  img{
    width: 100%;
    max-width: 420px;
    background-color: $silver-color;
    padding: 6.5rem 9.5rem 10.8rem 9.4rem;
    margin-bottom: 16rem;
  }
}
.overline{
  color: $brown-color;
  margin-bottom: 1.6rem;
  letter-spacing: 10px;
  font-size: 14px;
  font-weight: 400;
}

.header-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  img{
    width: 100%;
    max-width: 420px;
    background-color: $silver-color;
    padding: 6.5rem 9.5rem 10.8rem 9.4rem;
    margin-bottom: 16rem;
  }
 
}
.hero-left{
  width: 100%;
  max-width: 445px;
}



.footer__nav-icon{
  margin-right: 0;
  padding-right: 0;

}

.footer__nav-link{
a:hover{
  color: $brown-color;
  transition: 0.3s;
}
}
.footer__nav-icon{
img:hover{
  background-color: $brown-color;
  color: $black-one-color;
}
}